* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.controlPlane {
    background-color: #d1f4ff;
    padding: 18px;
    overflow: auto;
}

.controlPlane_leftPart {
    float: left;
    margin-right: 50px;
}

.controlPlane_rightPart {

}

.currentState {
    background-color: #d2f8d2;
    padding: 18px;
    overflow: auto;
}

.currentState_leftPart {
    float: left;
    width: 550px;
}

.currentState_rightPart {

}

.functional_block_diagram {
    object-fit: scale-down;
}

.controlButtons {
    background-color: #d1f4ff;
    padding: 18px;
}

.graphContainer {

}

input {
    padding: 5px;
    border-radius: 5px;
}

button {
    padding: 5px;
    border-radius: 5px;
}

fieldset {
    border: 2px solid darkgreen;
    /*background: white;*/
    border-radius: 5px;
    padding: 15px;
}

fieldset legend {
    background: darkgreen;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 20px;
}

.greenBackground {
    background-color: lightgreen;
}

.yellowBackground {
    background-color: yellow;
}

.blueBackground {
    background-color: lightblue;
}

select {
    border-radius: 5px;
    padding: 5px;
}
