* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.controlPlane {
    background-color: #d1f4ff;
    padding: 18px;
    overflow: auto;
}

.controlPlane_leftPart {
    float: left;
    margin-right: 50px;
}

.controlPlane_rightPart {

}

.currentState {
    background-color: #d2f8d2;
    padding: 18px;
    overflow: auto;
}

.currentState_leftPart {
    float: left;
    width: 550px;
}

.currentState_rightPart {

}

.functional_block_diagram {
    object-fit: scale-down;
}

.controlButtons {
    background-color: #d1f4ff;
    padding: 18px;
}

.graphContainer {

}

div.controlPlane_rightPart input {
    padding: 5px;
    border-radius: 5px;
}

button {
    padding: 5px;
    border-radius: 5px;
}

div.controlPlane_rightPart fieldset {
    border: 2px solid darkgreen;
    border-radius: 5px;
    padding: 15px;
}

div.controlPlane_rightPart fieldset legend {
    background: darkgreen;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 20px;
}

.greenBackground {
    background-color: lightgreen;
}

.yellowBackground {
    background-color: yellow;
}

.blueBackground {
    background-color: lightblue;
}

select {
    border-radius: 5px;
    padding: 5px;
}

.registerFieldset {
    display: inline;
    border-radius: 7px;
    margin: 0;
    padding: 0;
    font-size: 5px;
    background-color: white;
}

.registerLegend {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.registerInput {
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 16px;
    margin: 0;
    padding: 0;
    border-radius: 7px;
}

.commonInput {
    padding: 5px;
    border-radius: 5px;
}

.baseFrequencyDiv {
    margin-top: 10px;
}

.margin1 {
    margin-right: 92px;
}

.margin2 {
    margin-right: 92px;
}

.margin3 {
    margin-right: 0;
}

.margin4 {
    margin-right: 81px;
}

.margin5 {
    margin-right: 81px;
}

.margin6 {
    margin-right: 22px;
}